certifi==2022.12.7
chardet==3.0.4
Django==2.1.7
django-keycloak==0.1.2.dev0
ecdsa==0.13
future==0.17.1
idna==2.8
pyasn1==0.4.5
python-jose==3.0.1
python-keycloak-client==0.2.2
pytz==2018.9
requests==2.21.0
rsa==4.0
six==1.12.0
urllib3==1.24.1
