<html> 
    <body>BEM VINDO A APLICAÇÃO DE LOGIN
            <br><br>
            {% if user.is_authenticated %}
            <a class="btn btn-default navbar-btn navbar-right" href="{% url 'permission' %}">Página Restrita</a>
            {% else %}
            <a class="btn btn-default navbar-btn navbar-right" href="{% url 'login' %}">Sign in</a>
            {% endif%}
            <br><br>
            {% for role in roles %}
                <br>
                {{role}}
            {% endfor %}
    </body>
</html>